polkit.addRule(function(action,subject){
    if (action.id=="org.freedesktop.accounts.change-own-password"){
        return polkit.Result.YES;
    }
});
